*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  padding: 0;
  background-color: #ddeeff;
  font-family: Google Sans Flex;
}
body {
  margin: 0;
  padding: 0;
}
/* ____________________________________________________________ */
#top-bar {
    background-color: #0d1117;
    height: 88px;
    padding: 16px 16px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
}
#search-bar {
    width: 40%;
    border-radius: 100vw;
    height: 48px;
    border: none;
    padding: 0 16px;
    margin: 0 20px;
    font-family: Google Sans Flex;
    font-size: 16px;
}
#top-bar-credentials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    position: relative;
    margin-left: auto;
}
#top-bar-pp {
    display: inline-block;
    width: 56px;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    align-self: center;
}
#side-bar-logo {
  width: 72px;
  height: auto;
  margin: 16px 0;
}
#top-bar-details {
    display: inline-block;
    color: white;
}

/* ____________________________________________________________ */

#bottom-bar {
  height: 88px;
  width: 100%;
  background-color: #0d1117;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: auto;
}
/* ____________________________________________________________ */
#main-dashboard {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 8px 8px;
    column-gap: 8px;
}
/* ____________________________________________________________ */
#side-bar {
  background-color: #0d1117;
  width: 88px;
  height: calc(100vh - 104px);
  min-height: fit-content;
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 24px;
}
.side-bar-icons {
  border-radius: 16px;
  max-width: 72px;
  min-width: 72px;
  max-height: 72px;
  min-height: 72px;
  padding: 20px;
  transition: 200ms;
}
.side-bar-icons:not(#logout):hover {
  background-color: #008152;
  transition: 200ms;
  cursor: pointer;
}
#settings-logout {
  margin-top: auto;
}
#logout:hover {
  background-color: #ca0000;
}
/* ____________________________________________________________ */
#dashboard-2 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin: 0 28%;
    width: 100%;
}
#title {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#title img {
    width: 0px;
    height: 0px;
    margin: 0;
    margin-bottom: 8p;
    transition: 300ms;
}
#title h3 {
    font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
  padding: 8px 16px;
}
#title:hover img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 300ms;
}
#title:hover {
  cursor: pointer;
}
#student-data-card,
#teacher-data-card,
#visitor-data-card {
    display: inline-flex;
    background-color: #0d1117;
    color: black;
    width: 40vw;
  height: 100%;
  max-height: 96px;
  padding: 16px 4px 4px 4px;
  border-radius: 24px;
  column-gap: 4px;
  transition: 300ms;
}
#student-data-card span,
#teacher-data-card span,
#visitor-data-card span {
    display: flex;
    background-color: #f0f6fc;
    flex-direction: row;
  width: 100%;
  padding: 0 8px;
  border-radius: 20px;
}
#student-data-card span p,
#teacher-data-card span p,
#visitor-data-card span p {
  font-size: 20px;
  font-weight: 450;
  align-content: center;
}
#student-data-card span img,
#teacher-data-card span img,
#visitor-data-card span img {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-left: auto;
  opacity: 0;
}
#student-data-card:hover,
#teacher-data-card:hover,
#visitor-data-card:hover {
  padding: 4px 4px 16px 4px;
}
#student-data-card:hover img,
#teacher-data-card:hover img,
#visitor-data-card:hover img {
  transition: ease-in-out;
  transition: 300ms;
  cursor: pointer;
  opacity: 100;
  transition: 300ms;
}
/* ____________________________________________________________ */
